<section class="benefits">
  <div class="benefits-container">
    <h2 class="benefits-title">
      Postaw na <span class="accent">rozwój</span> swoich usług
    </h2>
    <ul class="benefits-list">
      <li class="benefits-row">
        <img src="./img/strona_glowna-2.jpg" alt="" />
        <div class="benefits-wrapper">
          <h3 class="benefits-subtitle">Kompleksowość</h3>
          <p class="benefits-text">
            Realizujemy kompleksowo każdy punkt twojego łańcucha dostaw,<br />
            nasz klient oprócz dostarczenia nam zlecenia nie martwi się
            niczym.<br />
            Każdy etap dokumentujemy i nadzorujemy.
          </p>
        </div>
      </li>
      <li class="benefits-row text-right">
        <img src="./img/strona_glowna-3.jpg" alt="" />
        <div class="benefits-wrapper">
          <h3 class="benefits-subtitle">Wysoka wydajność i niezawodność</h3>
          <p class="benefits-text">
            Dzięki bogatej flocie aut i ponad 20 ekipom monterów jesteśmy w
            stanie zrealizować dużą ilość zleceń naraz - ponad kilkaset
            tygodniowo
          </p>
        </div>
      </li>
      <li class="benefits-row text-right">
        <img src="./img/strona_glowna-4.jpg" alt="" />
        <div class="benefits-wrapper">
          <h3 class="benefits-subtitle">
            Precyzja<br />
            i skuteczność
          </h3>
          <p class="benefits-text">
            Każde zlecenie realizujemy w 100% dbając o to aby każdy etap był<br />
            liykonany w pełni profesjonalnie.
          </p>
        </div>
      </li>
      <li class="benefits-row text-right">
        <img src="./img/strona_glowna-5.jpg" alt="" />
        <div class="benefits-wrapper">
          <h3 class="benefits-subtitle">Profesjonalna współpraca</h3>
          <p class="benefits-text">
            Na swoim koncie mamy wieloletnie współprace B2B z dużymi firmami
            zajmującymi się na produkcją i sprzedażą mebli e-commerce na rynku
            europejskim.
          </p>
        </div>
      </li>
      <li class="benefits-row text-right">
        <img src="./img/strona_glowna-6.jpg" alt="" />
        <div class="benefits-wrapper">
          <h3 class="benefits-subtitle">Ciągły rozwój</h3>
          <p class="benefits-text">
            Nasz zespół daje nam możliwość ciągłego rozwoju i realizowania coraz
            to większych zleceń oraz poszerzania obszarów ich realizowania.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
