<footer class="footer">
  <div class="footer-container">
    <div class="footer-top">
      <a class="footer-logo-link" href="#">
        <img
          class="footer-img-logo"
          src="../img/logo-footer.png"
          alt="AS MAX GROUP furniture assembly"
          width="239"
          height="81"
        />
      </a>
      <address class="footer-location">
        <p class="footer-title">AS MAX GROUP</p>
        <p class="footer-address-text">
          ul. Lubczyńska 22a<br />70-896 Szczecin
        </p>
      </address>
      <address class="footer-address">
        <ul class="footer-address-list">
          <li class="footer-address-item">
            <a class="footer-address-link footer-phone" href="48500430901"
              >+48 500 430 901
            </a>
          </li>
          <li>
            <a
              class="footer-address-link footer-email"
              href="mailto:info@asmaxgroup.com"
              >info@asmaxgroup.com</a
            >
          </li>
        </ul>
      </address>
      <ul class="social-list footer-social">
        <li class="social-item">
          <a
            class="social-list-item-link"
            href="https://www.facebook.com/MaxAssemblyGroupPolska"
            target="_blank"
            rel="noopener noreferrer"
            arial-label="facebook"
          >
            <svg class="footer-social-icon svg-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-list-item-link"
            href="https://www.linkedin.com/company/as-max-group/"
            target="_blank"
            rel="noopener noreferrer"
            arial-label="linkedin"
          >
            <svg class="footer-social-icon svg-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-list-item-link"
            href="https://www.instagram.com/as_max_group"
            target="_blank"
            rel="noopener noreferrer"
            arial-label="instagram"
          >
            <svg class="footer-social-icon svg-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <ul class="footer-list">
        <li class="menu-item footer-item">
          <a class="footer-link" href="#">O nas</a>
        </li>
        <li class="menu-item footer-item">
          <a class="footer-link" href="#">USŁUGI</a>
        </li>
        <li class="menu-item footer-item">
          <a class="footer-link" href="#">Flota</a>
        </li>
        <li class="menu-item footer-item">
          <a class="footer-link" href="#">Współpracuj z nami</a>
        </li>
        <li class="menu-item footer-item">
          <a class="footer-link" href="#">Kontakt</a>
        </li>
      </ul>
      <p class="footer-copyrights">
        © 2021 - 2024 As Max Group. Wszelkie prawa zastrzeżone. Projekt i
        wykonanie:
        <a
          class="footer-link"
          target="_blank"
          rel="noopener noreferrer"
          href="http://virtualpeople.pl"
          >Virtual People</a
        >
      </p>
    </div>
  </div>
</footer>
