<header class="header">
  <div class="container header-container">
    <a class="logo-link" href="#">
      <img
        class="header-img-logo"
        src="../img/logo1.png"
        alt="AS MAX GROUP furniture assembly"
        width="239"
        height="81"
      />
    </a>
    <button
      class="menu-btn js-open-menu"
      type="button"
      aria-label="Open menu button"
    >
      <svg class="menu-btn-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-hamburger"></use>
      </svg>
    </button>
    <nav class="nav is-open js-menu-container">
      <button
        class="menu-btn-close js-close-menu"
        type="button"
        aria-label="Close menu button"
      >
        <svg class="menu-btn-icon" width="28" height="28">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="menu-list">
        <li class="menu-item">
          <a class="menu-link header-link" href="#">O nas</a>
        </li>
        <li class="menu-item">
          <a class="menu-link header-link" href="#">USŁUGI</a>
        </li>
        <li class="menu-item">
          <a class="menu-link header-link" href="#">Flota</a>
        </li>
        <li class="menu-item">
          <a class="menu-link header-link" href="#">Współpracuj z nami</a>
        </li>
        <li class="menu-item">
          <a class="menu-link header-link" href="#">Kontakt</a>
        </li>
      </ul>
      <div class="custom-select">
        <select id="standart-select">
          <option selected>PL</option>
          <option value="1">PL</option>
          <option value="2">UK</option>
          <option value="3">DE</option>
        </select>
      </div>
    </nav>

    <div class="right-side">
      <ul class="social-list">
        <li class="social-item">
          <a
            class="social-list-item-link"
            href="https://www.facebook.com/MaxAssemblyGroupPolska"
            target="_blank"
            rel="noopener noreferrer"
            arial-label="facebook"
          >
            <svg class="svg-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-facebook" />
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-list-item-link"
            href="https://www.linkedin.com/company/as-max-group/"
            target="_blank"
            rel="noopener noreferrer"
            arial-label="linkedin"
          >
            <svg class="svg-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-linkedin" />
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-list-item-link"
            href="https://www.instagram.com/as_max_group"
            target="_blank"
            rel="noopener noreferrer"
            arial-label="instagram"
          >
            <svg class="svg-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-instagram" />
            </svg>
          </a>
        </li>
      </ul>
      <div class="header-contact">
        <img
          class="contact-img"
          src="../img/phone.svg"
          alt="phone"
          width="47"
          height="47"
        />
        <div class="contact-info">
          <p class="header-contact-text">zadzwoń do nas</p>
          <a class="header-contact-phone" href="48500430901"
            >+48 500 430 901
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
