<section class="hero hero-bg">
  <div class="container-hero">
    <h1 class="hero-title">
      Transport <br />
      i montaż mebli dla rynku <br />
      <span class="accent">e-commerce</span>
    </h1>
    <div class="hero-footer">
      <p class="hero-text">Kompleksowa obsługa na terenie całej Europy</p>
      <button class="btn btn-hero" type="button">
        dowiedz się więcej
        <svg class="btn-icon secondary" width="28" height="28">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
