<section class="map">
  <img class="map-img" src="../img/strona_glowna-8.jpg" alt="" />
  <div class="map-container">
    <div class="map-wrapper">
      <h2 class="map-title">
        <span class="accent">Twój</span> cel <br />
        biznesowy <br />
        to <span class="accent">nasz</span> cel
      </h2>
      <p class="map-text">
        Jeśli szukasz firmy, która zajmie się
        <span class="accent">Twoim zleceniem</span> od A do Z — jesteśmy
        najlepszym wyborem!
      </p>
    </div>
  </div>
</section>
