<!-- Mobile menu -->
<div class="mobile-menu">
  <button class="menu-btn" type="button">
    <svg class="menu-btn-icon" width="8" height="8">
      <use href="./images/icons.svg#icon-menu-x"></use>
    </svg>
  </button>

  <ul class="mobile-menu-list">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link current" href="">Studio</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Portfolio</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Contacts</a>
    </li>
  </ul>

  <div class="mobile-menu-wrapper">
    <ul class="mobile-menu-contacts">
      <li class="mobile-menu-item">
        <a class="mobile-menu-contact accent" href="tel:+110001111111"
          >+11 (000) 111-11-11</a
        >
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-contact" href="mailto:info@devstudio.com"
          >info@devstudio.com</a
        >
      </li>
    </ul>
    <ul class="mobile-menu-socials socials">
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook site"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram site"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://twitter.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Twitter site"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook site"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
