<section class="feature bg-container">
  <div class="feature-container">
    <div class="right-container">
      <h2 class="feature-title-h2">
        <span class="accent">Lider</span> w swojej <br />
        branży
      </h2>
      <ul class="feature-list">
        <li class="feature-item">
          <p class="feature-title">10</p>
          <p class="feature-text">lat na rynku</p>
        </li>
        <li class="feature-item">
          <p class="feature-title">20000</p>
          <p class="feature-text">montaży rocznie</p>
        </li>
        <li class="feature-item">
          <p class="feature-title">200000</p>
          <p class="feature-text">zrealizowanych zleceń</p>
        </li>
      </ul>
      <p class="feature-desc">
        Jako firma istniejmy na rynku od 10 lat, świadcząc usługi z zakresu
        transportu oraz montażu mebli dla klientów biznesowych. Nasz zakres
        działań obejmuje całą Europę, a w szczególności — Niemcy, Francję,
        Austrię, Holandię, Belgię, Szwajcarię. W naszej pracy skupiamy się na
        tym, aby sprawnie łączyć zamiłowanie do branży meblowej wraz z biznesem,
        co stanowi fundament naszej jakości.
      </p>
      <button class="btn feature-btn" type="button">
        czytaj więcej
        <svg class="feature-btn-icon btn-icon" width="28" height="28">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
    <img class="feature-img" src="../img/strona_glowna-1.jpg" alt="" />
  </div>
</section>
