<section class="hp-kontakt hp-kontakt-form-bg">
  <div class="hp-kontakt-container">
    <div class="hp-kontakt-form">
      <h2 class="form-title" class="form-title">
        <span class="accent">Napisz</span> do nas
      </h2>
      <form>
        <input
          class="form-input"
          type="text"
          id="name"
          name="name"
          placeholder="Imię i Nazwisko"
          required />
        <input
          class="form-input"
          type="email"
          id="email"
          name="email"
          placeholder="E-mail"
          required />
        <input
          class="form-input"
          type="text"
          id="phone"
          name="phone"
          placeholder="Telefon"
          required />
        <textarea
          class="form-input form-textarea"
          id="message"
          placeholder="Wiadomość"
          name="message"></textarea>
        <input class="btn form-btn" type="submit" value="wyslij" />
      </form>
    </div>
    <p class="kontakt-title">
      Potrzebujesz usług związanych z<br />
      <span class="accent">transportem i montażem mebli</span> do klienta?<br />
      Szukasz jednej firmy,<br />
      która zajmie się wszystkim?
    </p>
  </div>
</section>
