<section class="kontakt kontakt-form-bg">
  <div class="kontakt-info-container">
    <p class="kontakt-info-text">
      Oferujemy atrakcyjne warunki współpracy dla firm zajmujących się produkcją
      mebli oraz ich sprzedażą w sektorze e-commerce na terenie Europy, w
      modelach B2C i B2B
    </p>
    <ul class="kontakt-info-list">
      <li class="kontakt-item">
        <h2 class="kontakt-list-title">
          Kontakt dla firm <br />
          Współpraca B2B
        </h2>
        <a class="kontakt-info-link link-primary" href="tel:+48500430901">
          +48 500 430 901</a
        >
      </li>
      <li class="kontakt-item">
        <h2 class="kontakt-list-title">Obsługa klienta</h2>
        <h3 class="kontakt-list-subtitle">EN/DE</h3>
        <a class="kontakt-info-link link-primary" href="tel:+48452333391">
          +48 452 333 391</a
        >
        <a class="kontakt-info-link link-primary" href="tel:+48452760260">
          +48 452 760 260</a
        >
        <h3 class="kontakt-list-subtitle">FR</h3>
        <a class="kontakt-info-link link-primary" href="tel:+48452333392">
          +48 452 333 392</a
        >
      </li>
    </ul>
    <p class="kontakt-info-email">
      Nasz adres e-mail
      <a
        class="kontakt-info-link link-primary"
        href="mailto:info@asmaxgroup.com"
        >info@asmaxgroup.com</a
      >
    </p>
  </div>
  <div class="kontakt-container">
    <div class="kontakt-form">
      <h2 class="form-title" class="form-title">
        <span class="accent">Napisz</span> do nas
      </h2>
      <form>
        <input
          class="form-input"
          type="text"
          id="name"
          name="name"
          placeholder="Imię i Nazwisko"
          required />
        <input
          class="form-input"
          type="email"
          id="email"
          name="email"
          placeholder="E-mail"
          required />
        <input
          class="form-input"
          type="text"
          id="phone"
          name="phone"
          placeholder="Telefon"
          required />
        <textarea
          class="form-input form-textarea"
          id="message"
          placeholder="Wiadomość"
          name="message"></textarea>
        <input class="btn form-btn" type="submit" value="wyslij" />
      </form>
    </div>
  </div>
</section>
