<section class="uslugi">
  <div class="uslugi-container container">
    <img class="uslugi-img" src="../img/strona_glowna-7.jpg" alt="" />
    <div class="uslugi-article">
      <h2 class="uslugi-title">Oferowane <span class="accent">usługi</span></h2>
      <p class="uslugi-text">
        As Max Group opiera się na współpracy B2B - świadczymy usługi montażowe
        dla firm zajmujących się produkcją i sprzedażą mebli w sektorze
        e-commerce. Wieloletnie doświadczenie i wykwalifikowana kadra to dla nas
        podstawy, na których opiera się profesjonalizm całej firmy.
      </p>
      <button class="btn uslugi-btn" type="button">
        sprawdz
        <svg class="uslugi-btn-icon btn-icon" width="28" height="28">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
