.flota-bg {
  background-image: url("../img/fleet-top.jpg");
  background-position: left bottom;
  height: calc(100vw / 2.365);
  max-height: 812px;
}

.flota {
  max-width: 1920px;
  margin: 0 auto;
  padding: 8% 0;
}

.flota-title {
  position: relative;
  font-weight: 500;
  color: #f9b800;

  font-size: var(--fs--h3);
  font-family: "Libre Baskerville", serif;
  line-height: 1.2;
  letter-spacing: -0.025em;
  /* padding-bottom: 3.1%; */
  padding-bottom: 38px;
  margin-bottom: 38px;
}

.flota-title::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 145%;
  max-width: 800px;
  content: "";
  border-bottom: 2px solid #d1d0d1;
}
@media screen and (max-width: 992px) {
  .flota-title::after {
    width: 100%;
  }
}
